<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %d{"yyyy-MM-dd'T'HH:mm:ss,SSS"} [%thread] %-5level %logger -%msg%n
            </Pattern>
        </encoder>
    </appender>


    <!-- Logging level-->
    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>